* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.tv {
    position: relative;
}

.tv__screen {
    left: 8px;
    position: absolute;
    top: 10px;
    width: 101px;
}

.tv__body {
    position: relative;
}
